body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css?family=Flamenco');

/*home button*/
#butt{
    height:50px;
    width:50px;
    position:fixed;
    bottom:4%;
    right:3%;
    z-index: 1;

}
/*smooth scrolling*/
html {
    scroll-behavior: smooth;
}

div {
    display: inline-block;
}

.container {
    width: 100%;
    height:74px;
}
/*nav bar*/
.navbar {
    height: 64px;
    width: 100%;
    border-bottom: 1px solid #D3D3D3;
    z-index: 1;
    position:fixed;
    background-color:white;
    opacity:1;
}

    .navbar ul {
        list-style-type: none;
        margin-top: 25px;
    }

    .navbar li {
        float: left;
        margin-right: 24px;
        transition: all 1s ease;
    }

    .navbar a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        height: 63px;
        padding-top: 1px;
        font-weight: bold;
        font-size: 14px;
        color: #363636;
        line-height: 18px;
        vertical-align: middle;
        text-transform: uppercase;
        cursor: pointer;
        text-align: left
    }

        .navbar a:hover {
            color: blue;
            padding-bottom: 18px;
            border-bottom: 3px solid blue;
        }

.left-header {
    float: left;
    margin-left: 7%;
}

.right-header {
    float: right;
    margin-right: 7%;
}

.navbar img {
    margin-left: 160px;
    padding-top: 5px;
}

.left-header li {
    animation-name: movel;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes movel {
    0% {
        margin-right: 5px;
        opacity: 0;
    }

    100% {
        margin-right: 24px;
        opacity: 1;
    }
}

.right-header li {
    animation-name: mover;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes mover {
    0% {
        margin-left: 12px;
        opacity: 0;
    }

    100% {
        margin-left: 24px;
        opacity: 1;
    }
}
/*carousel*/
.carousel {
    display: block;
    width: 100%;
}

#prev_pic {
    position: absolute;
    top: 50%;
    cursor: pointer;
}

#next_pic {
    position: absolute;
    top: 50%;
    right: 0.1%;
    cursor: pointer;
}

/*cards*/
.card-div {
    height: 800px;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    font-family: 'Flamenco', cursive;
}

.card-container {
    width: 80%;
}

.card {
    box-sizing: border-box;
    padding: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
    width: 25%;
    height: 45%;
    animation-name: cd_anim;
    animation-duration: 2s;
    font-family: 'Flamenco', cursive;
    animation-fill-mode: forwards;
}

@keyframes cd_anim {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
/*parallax effect*/
.choose {
    background-image: url(images/back1.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    text-align: left;
    color: white;
    font-size: x-large;
    font-family: 'Flamenco', cursive;
}

#header1 {
    margin-top: 10%;
    margin-left: 10%;
    transition: all 1s ease;
}

#para1 {
    margin-top: 1px;
    margin-left: 10%;
}
/*packages*/
.packages {
    text-align: center;
    height: 900px;
    width: 100%;
    background-color:whitesmoke;
    font-family: 'Flamenco', cursive;
   /* transition:transform 300ms ease-in-out;
    pointer-events:none;*/
}


.card4 {
    box-sizing: border-box;
    background-color: white;
    padding: 2px;
    margin-left: 6.5%;
    margin-bottom: 1px;
    width: 25%;
    height: 55%;
    font-size: large;
    box-shadow: rgb(128, 128, 128) 0 10px 20px -1px;
    float: left;
    animation-name: card_move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}
.card6 {
    box-sizing: border-box;
    background-color: white;
    padding: 2px;
    margin-left: 6.5%;
    margin-bottom: 1px;
    width: 25%;
    height: 55%;
    font-size: large;
    box-shadow: rgb(128, 128, 128) 0 10px 20px -1px;
    float: left;
    animation-name: card_move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

/*
.packages .card4{
    transform:translate(0px,-200px);
}*/
@keyframes card_move {
    0% {
        margin-left: 12px;
        opacity: 0;
    }

    100% {
        margin-left: 6.5%;
        opacity: 1;
    }
}


/*footer*/
.footer {
    text-align: center;
    color:white;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/footer.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    font-family: 'Flamenco', cursive;
    height:400%;
    margin-bottom: 0px;
}
.card5 {
    box-sizing: border-box;
    padding: 10px;
    margin-left: 2px;
    margin-bottom: 10px;
    width: 30%;
    height: 95%;
    animation-name: cd_anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    text-align: center;
    float:left;
    margin-right: 30px;
}
.footer img {
    margin-left: 3%;
    
}
.footer .card5:hover img {
    pointer-events: none;
    animation-name: cd_anim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
/*on scroll animation*/
#p1{
    animation-name: effect;
   animation-duration: 0.8s;
   animation-fill-mode: forwards;
   animation-play-state: running;
   animation-play-state: paused;
}
#p2,#p3{
    animation-name: effect;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-play-state: paused;
}
@keyframes effect{
   from{
        opacity: 0;
   }
   to{
       opacity: 1;
   }
}

/*login form*/

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 26px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
	font-size:16px;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 26px;
    border: none;
    cursor: pointer;
    width: 90%;
	font-size:20px;
}
button:hover {
    opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.avatar {
    width: 200px;
	height:200px;
    border-radius: 50%;
}

/* The Modal (background) */
.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    width: 40%; 
	padding-bottom: 30px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}